body {
	font-family: "Helvetica Neue", "Helvetica", Sans-serif;
	color: #555555;
}

.center {
	text-align: center;
}

.car {
	width: 80px;
	height: 30px;

	position: absolute;
}

.car-one {
	background-color: blue;
	top: 200px;
}

.car-two {
	background-color: salmon;
	top: 400px;
}

.finish-line {
	width: 5px;
	height: 500px;
	background-color: #777777;
	position: absolute;
	top: 50px;
	right: 80px;
}

.timer {
	font-size: 92px;
	text-align: center;
}

/*#game {
	display: none;
}*/