body {
	font-family: "Helvetica Neue", "Helvetica", Sans-serif;
	color: #555555;

	background-image: url("assets/swirl.png");
	background-repeat: repeat;
}

.track {
	width: 70%; /* subtrack the 30% of finish line width */
	height: 200px;
	z-index: -1;
	background-image: url("assets/track.png");
	background-repeat: repeat-x;
	margin: 20px 0;
}

.button {
	height: 50px;
	padding: 5px 10px;
	background-color: #1abc9c;
	border-bottom: 3px solid #12ab8d;
	color: white;

	cursor: pointer;
}

.state {
	display: none;
}

.center {
	text-align: center;
}

.car {
	width: 80px;
	height: 90px;
	position: absolute;

	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s; 
}

.car-one {
	top: 200px;
	background-image: url("assets/mrblob.png");
	background-position: 100% 50%;
}

.car-two {
	background-image: url("assets/mrchunky.png");
	background-position: 100% 50%;
	top: 400px;
}

.name {
	position: absolute;
	bottom: -15px;
}

.finish-menu {
	width: 50%;
	margin: auto;
	background-color: #e2a525;
	padding: 30px;
}

.finish-line {
	width: 10px;
	height: 420px; /* 400px + 20px offset for margin */
	background-image: url("assets/finishline.png");
	position: absolute;
	top: 140px;
	right: 30%;
}

.winner-photo {
	display: block;
	margin: auto;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes flash {
  0%, 50%, 100% {
     opacity: 1;
  }
  25%, 75% {
     opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

.timer {
	font-size: 92px;
	text-align: center;
	min-height: 110px;
}